@charset "utf-8";
/* Loading */
#preloader {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: #143c2c;
  font-family: "Microsoft YaHei", "微软雅黑", arial, consolas, "sans-serif";
  color: #fff;
}
#status {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 50%;
  text-align: center;
  width: 300px;
  height: 400px;
  background-position: center;
  margin: -150px 0 0 -150px;
  font-size: 20px;
}
.loader {
  position: absolute;
  top: calc(55% - 0em);
  left: calc(50% - 0.7em);
}

