@charset "utf-8";
/* CSS Document */
* {
	font-family: "Microsoft YaHei", "微软雅黑", arial, consolas, "sans-serif";
}
body {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: "Microsoft YaHei", "微软雅黑", arial, consolas, "sans-serif";
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
/*
 *   index-top
 */

#intro-header {
	width: 100%;
	height: 100%;
	padding: 50px 0 50px 0;
	background-color: #000;
	background-size: cover;
	transition: ease 2s;
}
.i-bt {
	position: absolute;
	top: 20%;
	width: 100%;
	text-align: center;
	color: #fff;
}
.i-bt h1 {
	font-size: 80px;
	font-weight: 500;
	letter-spacing: 10px;
}
.i-bt h2 {
	font-size: 35px;
	font-weight: lighter;
	font-family: "Microsoft YaHei", "微软雅黑", arial, consolas, "sans-serif";
	margin-top: 20px;
}
.i-bt h3 {
	font-size: 25px;
	font-weight: lighter;
	font-family: "Microsoft YaHei", "微软雅黑", arial, consolas, "sans-serif";
	margin-top: 50px;
}
.i-bt nav {
	width: 100%;
	margin-top: 30px;
}
.i-bt nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.i-bt nav ul li {
	display: inline-block;
	letter-spacing: 2px;
	padding: 0 10px 0 10px;
	list-style: none;
}
.i-bt nav ul li a span {
	max-width: 80px;
	padding: 10px 0 10px 0;
}
.i-bt nav ul li a {
	padding: 10px 20px 10px 20px;
	font-size: 17px;
}
.button_down {
	position: absolute;
	bottom: 8%;
	text-align: center;
	width: 100%;
	color: #fff;
	font-size: 15px;
}
.button_down a{
	color: #fff;
}

@media screen and (max-width: 366px) {
.i-bt h2 {
	font-size: 14px;
}
.i-bt h3 {
	font-size: 12px;
}
}

@media screen and (max-width: 660px) {
.i-bt h1 {
	font-size: 50px;
}
.i-bt h2 {
	font-size: 20px;
}
.i-bt h3 {
	font-size: 15px;
	margin-top: 20px;
	padding: 5px;
}
.i-bt nav ul li {
	width: 100%;
	display: block;
	margin-top: 10px;
	padding: 0;
}
}

@media screen and (max-width: 920px) {
.i-bt h3 {
	padding: 5px;
}
.button_down {
	bottom: 10%;
}
#intro-header {
	background-image: none;
	background-color: #34495e;
}
}
/*Tema*/
#top {
	margin: 20px 40px;
	background-color: #fff;
	clear: both;
}

@media screen and (max-width: 767px) {
#top {
	margin: 20px 10px;
}
}
#top hgroup {
	padding: 5px 24px;
}
#top hgroup a img {
	width: 177px;
}
#content {
	margin: 5px 40px;
	clear: both;
}
.member {
	margin-top: 10px;
	clear: both;
}
.member .t {
	text-align: center;
	padding-top: 5px;
}
.member .t h1 {
	width: 100%;
	font-weight: bold;
	font-family: "Microsoft YaHei", "微软雅黑", arial, consolas, "sans-serif";
	margin-top: 20px;
}
.member .t h1, h2, h3, h4, h5, h6 {
	font-family: "Microsoft YaHei", "微软雅黑", arial, consolas, "sans-serif";
}
.member .b {
	margin-top: 10px;
}
.member .b ul {
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -moz-box;
}
.member .b ul li {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	min-width: 150px;
	padding: 5px;
	text-align: center;
}
.member .b ul li  {
	width: 100%;
}
.member .b ul li  figure {
	width: 100%;
	display: block;
}
.member .b ul li  figure img {
	width: 100%;
	max-width: 225px;
	max-height: 225px;
	border-radius: 500px;
	border: 5px solid #fff;
	transition: all ease 2s;
}
.member .b ul li  figure img:hover {
	border: 5px dashed #1EF5D7;
}
.member .b ul li  figure img.c:hover {
	border: 5px dashed #E8ED13;
}
.member .b ul li  figure figcaption {
	width: 100%;
}
.member .b ul li  figure figcaption h1 {
	font-family: "Microsoft YaHei", "微软雅黑", arial, consolas, "sans-serif";
	font-size: 40px;
	margin-top: 2px;
}
.member .b ul li  figure figcaption p {
	margin-bottom: 5px;
}
.member .b ul li  figure figcaption p.j {
	font-size: 14px;
}
.member .b ul li  figure figcaption p.z:before {
	content: "座右铭：";
}
.member .b ul li  figure figcaption p.j:before {
     content: "擅长：";
 }
.member .b ul li  figure figcaption p.a:before {
    content: "博客：";
}
.member .b ul li  figure figcaption p.e:before {
    content: "Email：";
}
.member .b ul li  figure figcaption h2 {
	margin-top: 5px;
	padding: 0;
	font-size: 18px;
	font-family: "Microsoft YaHei", "微软雅黑", arial, consolas, "sans-serif";
	font-weight: normal;
	margin-bottom: 5px;
}

.about {
	margin-top: 10px;
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
}
.about .t {
	text-align: center;
	padding-top: 5px;
}
.about .t h1 {
	width: 100%;
	font-weight: bold;
	font-family: "Microsoft YaHei", "微软雅黑", arial, consolas, "sans-serif";
	margin-top: 20px;
}
.about .t h1, h2, h3, h4, h5, h6 {
	font-family: "Microsoft YaHei", "微软雅黑", arial, consolas, "sans-serif";
	line-height: 30px;
}
.about .b {
	margin-left: auto;
	margin-right: auto;
	font-size: 16px;
	line-height: 25px;
	text-align: left;
	padding: 24px;
}
.about .b article {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
.about .b article img {
	width: 45%;
	max-width: 630px;
	display: inline-block;
	border-radius: 10px;
}
.about .b article span {
	width: 54%;
	display: inline-block;
	float: right;
}
.about .b article span h2 {
	margin: 0;
}
.about .b article span p {
	margin-top: 30px;
	line-height: 30px;
}
.about .b article.li {
	display: -webkit-box;
	display: -moz-box;
}
.about .b article.li ul {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
}

/*Join*/
.join {
	margin-top: 10px;
	clear: both;
}
.join .t {
	text-align: center;
	padding-top: 5px;
}
.join .t h1 {
	width: 100%;
	font-weight: bold;
	font-family: "Microsoft YaHei", "微软雅黑", arial, consolas, "sans-serif";
	margin-top: 20px;
}

.join h1, h2, h3, h4, h5, h6 {
	font-family: "Microsoft YaHei", "微软雅黑", arial, consolas, "sans-serif";

}
.join-b{
width: 70%;
	margin-left: auto;
	margin-right: auto;
	display: -webkit-box;
	display: -moz-box;
	font-size: 15px;
}
.join-b div{
	font-size: 16px;
	-webkit-box-flex: 1;
}
.join-b .jl .b{
	padding: 10px;
}
/* sponsor 2016 8 25*/
.sponsor{
	width: 100%
}
.sponsor .t {
	text-align: center;
	padding-top: 5px;
}
.sponsor .t h1 {
	width: 100%;
	font-weight: bold;
	font-family: "Microsoft YaHei", "微软雅黑", arial, consolas, "sans-serif";
	margin-top: 20px;
}
.sponsor .b{
	width: 100%;
	margin-top: 20px;

	line-height: 30px;
}
.sponsor .b ul{
	list-style: none;
	padding: 0;

}
.sponsor .b ul li{
	display: -webkit-box;
	display: -moz-box;
	width: 100%;
	border-left: 1px solid  #c2c4c3;
	border-right: 1px solid  #c2c4c3;
	border-bottom:1px solid  #a5d0c6;
}
.sponsor .b ul li:first-child{
	border: 1px solid #a5d0c6;
}

.sponsor .b ul li.i{
	height: 35px;
	line-height: 35px;
	font-size: 16px;
	font-weight: bold;
	background-color: #a5d0c6;
	border: none;
}
.sponsor .b ul li.i div{
	border: none;
}
.sponsor .b ul li div{
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	text-align: center;
	min-width: 20px;
	height: 30px;
}
.sponsor .b ul li div:first-child{
	min-width: 50px;
	max-width: 150px;

}
.sponsor .b ul li div:nth-child(2){
	min-width: 50px;
	max-width: 110px;
}
.sponsor .b ul li div:nth-child(4){

}


@media screen and (max-width: 767px) {
.about .b article img {
	width: 100%;
}
.about .b article span {
	width: 100%;
	float: none;
	margin-top: 20px;
}
.about .b article span p {
	margin-top: 10px;
}
	.join .b{
		display: block;
	}

	.join-b{
		display: block;
	}
}

@media screen and (min-width: 1555px) {
.about .b article span p {
	line-height: 40px;
}
}
.member .b ul li figure img {
	max-width: 200px;
}

@media screen and (max-width: 767px) {
#content {
	margin: 5px 10px;
}
.about .b {
	padding: 5px;
}
.member .b ul {
	display: block;
}
.member .b ul li {
	width: 100%;
	display: block;
}
.about .b article.li {
	display: block;
}
}
